---
import MyPhoto from "../../assets/img/RK-dev.png";
---

<!-- Main container -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row"
>
  <!-- Photo -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MyPhoto.src}
      alt="Photo of Lautaro"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Text -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Je m'appelle <span class="text-white text-shadow">Rayan Kabra</span>
    </h2>
    <p class="mt-4">
      Développeur full stack <span class="text-primary font-semibold"
        >JavaScript</span
      >, je conçois et développe des applications web modernes, performantes et
      sécurisées, avec une attention particulière portée à
      <span class="text-primary font-semibold">l’expérience utilisateur</span> et
      à <span class="text-primary font-semibold">la qualité du code</span>.
    </p>
    <p class="mt-2">
      Issu d’un parcours initial en droit, j’ai opéré une reconversion depuis
      plusieurs années vers <span class="text-primary font-semibold"
        >le développement logiciel</span
      >, ce qui me permet d’allier rigueur, analyse des besoins et compréhension
      métier. J’interviens aussi bien sur le front-end
      <span class="text-primary font-semibold"
        >(React, Next.js, TypeScript, Tailwind)</span
      > que sur le back-end
      <span class="text-primary font-semibold"
        >(Node.js, Express, MongoDB, PostgreSQL)</span
      >, et je mets en œuvre des pratiques professionnelles telles que
      <span class="text-primary font-semibold">l’architecture en couches</span>, <span
        class="text-primary font-semibold">l’authentification sécurisée</span
      >, <span class="text-primary font-semibold">les tests</span> et le
      <span class="text-primary font-semibold">déploiement continu</span>.
    </p>
    <p class="mt-2">
      À travers des <span class="text-primary font-semibold"
        >projets personnels</span
      >,
      <span class="text-primary font-semibold">freelance</span> et
      <span class="text-primary font-semibold">professionnels</span>, je
      développe des solutions concrètes, orientées
      <span class="text-primary font-semibold">utilisateur</span>, en
      collaboration avec des équipes <span class="text-primary font-semibold"
        >techniques</span
      > et <span class="text-primary font-semibold">métiers</span>.
    </p>
  </div>
</div>
