---
import SkillCard from "./SkillCard.astro";
---

<div class="stack-header">
  <h3 class="title-stack">Mes Technologies</h3>
  <p class="text-stack">
    Ci-dessous les technologies et les outils que j'utilise.
  </p>
</div>

<!-- FRONT-END -->
<div>
  <h3 class="stack-titles">Front-end</h3>
</div>
<section class="skills">
  <SkillCard
    icon="/assets/tailwind.png"
    title="Tailwind css"
    description="Langage Web pour mettre en forme des pages HTML."
  />
  <SkillCard
    icon="/assets/Sass.png"
    title="Sass"
    description="Extension du langage CSS."
  />
  <SkillCard
    icon="/assets/blazor.svg"
    title="Blazor"
    description="Framework web front-end moderne basé sur HTML, CSS et C# pour créer des applications web."
  />
  <SkillCard
    icon="/assets/js.png"
    title="JavaScript"
    description="Langage Web dynamique pour animer des pages HTML."
  />
  <SkillCard
    icon="/assets/typescript.svg"
    title="TypeScript"
    description="Sur-ensemble de JavaScript permettant de rendre le code plus robuste."
  />
  <SkillCard
    icon="/assets/react.png"
    title="React"
    description="Bibliothèque JavaScript pour créer des interfaces utilisateur rapides et puissantes."
  />
  <SkillCard
    icon="/assets/react-native.png"
    title="React Native"
    description="Bibliothèque JavaScript pour créer des applications mobiles."
    iconHeight="55px"
  />
  <SkillCard
    icon="/assets/next.png"
    title="Next.js"
    description="Framework basé sur React qui permet de créer des sites web rapides et optimisés. Il offre le rendu côté serveur (SSR), la génération statique (SSG), le routing automatique et la gestion d’API intégrée. Idéal pour le SEO, les performances, et les projets pro."
    iconHeight="55px"
  />
  <SkillCard
    icon="/assets/vite.png"
    title="Vite.js"
    description="Outil de développement front-end simple et rapide pour développer des applications Web modernes."
    iconHeight="55px"
  />
</section>

<!-- BACK-END -->
<div>
  <h3 class="stack-titles">Back-end</h3>
</div>
<section class="skills">
  <SkillCard
    icon="/assets/nodejs.svg"
    title="Node.js"
    description="Environnement d'exécution JavaScript permettant de créer des serveurs rapides et efficaces."
  />
  <SkillCard
    icon="/assets/express-js.png"
    title="Express.js"
    description="Framework d'application Web Node.js qui permet de gérer les serveurs et les routes."
  />
  <SkillCard
    icon="/assets/axios.png"
    title="Axios"
    description="Bibliothèque JavaScript populaire utilisée pour effectuer des requêtes HTTP à partir d'un navigateur Web."
    iconWidth="130px"
  />
  <SkillCard
    icon="/assets/csharp.svg"
    title="C Sharp"
    description="Langage de programmation pour créer notamment des applications web, desktop et mobiles."
  />
  <SkillCard
    icon="/assets/postman.png"
    title="Postman"
    description="Logiciel permettant de tester des requêtes HTTP."
  />
  <SkillCard
    icon="/assets/cloudinary.png"
    title="Cloudinary"
    description="API de gestion de fichiers multimédia."
  />
</section>

<!-- Base de données -->
<div>
  <h3 class="stack-titles">Bases de données</h3>
</div>
<section class="skills">
  <SkillCard
    icon="/assets/mongo-db.png"
    title="MongoDb"
    description="Création et administration de bases de données No-SQL."
    iconWidth="120px"
  />
  <SkillCard
    icon="/assets/sqlite.png"
    title="SQLite"
    description="Création et administration de bases de données SQL."
    iconWidth="80px"
  />
  <SkillCard
    icon="/assets/postgresql.png"
    title="PostgreSQL"
    description="Création et administration de bases de données SQL."
  />
</section>

<!-- DÉPLOIEMENT -->
<div>
  <h3 class="stack-titles">Déploiement & hébergement</h3>
</div>
<section class="skills">
  <SkillCard
    icon="/assets/netlify.png"
    title="Netlify"
    description="Déploiement et hébergement du front-end d'applications et de sites internet."
  />
  <SkillCard
    icon="/assets/northflank.png"
    title="Northflank"
    description="Déploiement et hébergement du back-end d'applications et de sites internet."
    iconWidth="200px"
  />
  <SkillCard
    icon="/assets/ovh.png"
    title="OVH Cloud"
    description="Déploiement et hébergement professionnel d'applications et de sites internet avec nom de domaine et adresse mail professionnelle."
    iconWidth="100px"
  />
</section>

<!-- PRODUCTIVITÉ -->
<div>
  <h3 class="stack-titles">Productivité & Testing</h3>
</div>
<section class="skills">
  <SkillCard
    icon="/assets/vscode.png"
    title="VsCode"
    description="Mon éditeur de code."
  />
  <SkillCard
    icon="/assets/expo.png"
    title="Expo"
    description="Outil de développement pour créer des applications iOS, Android et web avec React Native."
  />
  <SkillCard
    icon="/assets/git.png"
    title="Git & Git Hub"
    description="Plateforme d'hébergement et de collaboration en développement."
    iconWidth="100px"
  />
  <SkillCard
    icon="/assets/gitkraken.png"
    title="Git Kraken"
    description="Outil de gestion et de collaboration de code versionné avec Git."
  />
  <SkillCard
    icon="/assets/jira.png"
    title="Jira"
    description="Outil de gestion de projet."
  />
  <SkillCard
    icon="/assets/figma.png"
    title="Figma"
    description="Outil de design pour concevoir, prototyper et animer des interfaces utilisateurs."
  />
  <SkillCard
    icon="/assets/photoshop.png"
    title="Photoshop"
    description="Logiciel de traitement d'image."
  />
  <SkillCard
    icon="/assets/premiere.png"
    title="Premiere Pro"
    description="Logiciel de montage vidéo."
  />
  <SkillCard
    icon="/assets/retool.png"
    title="Retool"
    description="Plateforme de développement d'applications internes et d'interfaces (tableaux de bords, Admin Panel, CRM etc.)"
    iconWidth="150px"
  />
  <SkillCard
    icon="/assets/jest.svg"
    title="Jest"
    description="Outil de tests automatisés."
    iconHeight="60px"
    iconWidth="60px"
  />
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
    margin-bottom: 20px;
  }

  .stack-header {
    margin-bottom: 25px;
  }

  .stack-titles {
    font-style: italic;
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (max-width: 800px) {
    .stack-header {
      justify-self: center;
      text-align: center;
    }

    .title-stack {
      font-size: var(--text-2xl);
      margin-bottom: 0.5rem;
      color: var(--gray-100);
    }

    .stack-header p {
      font-size: var(--text-md);
      color: var(--gray-300);
    }
  }

  @media (min-width: 50em) {
    .stack-header p {
      font-size: var(--text-lg);
      color: var(--gray-300);
    }

    .title-stack {
      font-size: var(--text-4xl);
      margin-bottom: 1rem;
    }

    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
